
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/cupcakes.css">

    <title>Document</title>
</head>
<body>
<h1>Our Cupcakes!</h1>


{% for cupcake in cupcakes %}
<h3>{{ cupcake["name"] }}</h3>
<h4>Flavor: {{ cupcake["flavor"] }}</h4>
<h4>Frosting: {{ cupcake["frosting"] }}</h4>
<h4><b>Price: ${{ cupcake["price"] }}</b></h4>
<a href="{{ url_for('see_cupcakes') }}">
    <button>Add to Cart</button>
</a>
{% endfor %}

    
</body>
</html>