
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/index.css">

    <title>Title Here!</title>
</head>
<body>
    <h1 >Welcome to The Cupcakery!
  
    <div><h3>Our Cupcakes are made fresh daily!</h3></div>
   
    <p><nav class="navbar navbar-expand-lg navbar-light bg-light"></p>
     
    </nav>



</body>
<a class="navbar-brand" href="{{url_for('home')}}">Home menu</a> <br>
<a class="navbar-brand" href="{{url_for('get_cupcakes')}}">View our Cupcakes</a>

    </div>
  </div>




</html>