<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/cupcake-individual.css">

    <title>Take a look at our unique cupcakes!</title>
</head>
<body>
    

   <h1>Cupcakes Of The Day!</h1><br>

<ul>
    {% for cake in cakes %}
    <li>{{cake}}</li>
    {% endfor %}
</ul>

{% if 'Strawberry Shortcake' in cakes %}
<p>Check out our Strawberry Shortcake!</p>
{% endif %}

</body>

</html>