<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/order.css">

    <title>My Cart</title>
</head>
<body>
   <h1>My Cart</h1>
   <body>
    
    <div class=”Cart-Container”></div>

    <div class=”Header”>
        <h3 class=”Heading”>Shopping Cart</h3>
        <button>Empty Cart</button>
        </div>
   </body>
  
   {% for cupcake in cupcakes %}
   <h3>{{ cupcake["name"] }}</h3>
   <h4>Flavor: {{ cupcake["flavor"] }}</h4>
   <h4>Frosting: {{ cupcake["frosting"] }}</h4>
   <h4><b>Price: ${{ cupcake["price"] }}</b></h4>
   <a href="{{ url_for('place_order') }}">
       <button>Add to Cart</button>
   </a>   
{% endfor %}
 

</body>
</html>